doctype html
html
    head
        title Hello Jade!
        link(rel="stylesheet", href="../css/main.css")
    body
        script(src='../js/bundle.js')
        h1 We used Jade to to generate this
        p It seems like it works